.topbarOuter{
  background-color: rgb(214, 30, 67);

  margin: 0;
  margin-bottom: 3px;
  /* box-shadow:0 3px 4px ; */
  position: sticky;
  top: 0;
  z-index:100;
}
.topbarInner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 40px;
  margin: 0;
} 
.NewsTitle{
  font-size: 25px;
  color: antiquewhite;
  letter-spacing: 1.2px;
}
h3.NewsTitle{
  margin: 0;
}
.NewsTitle:hover{
  cursor: pointer;
}
.categories{
  color: aliceblue;
  display: inline-flex;
  gap: 20px;
  
}
.categories span:hover{
  cursor: pointer;
}
.search{
  background-color: white;
  padding:5px  20px;
  border-radius: 30px;
  width: 15rem;
  display: flex;
  align-items: center;
}
.searchInput{
  border: none;
  text-align: center;

  width: 100%;
}
.searchInput:focus{
  outline: none;
}
.search:active{
  transform: scale(1.1);
}
.topbar-filters{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.logout{
  padding: 10px;
  display: flex;
  align-items: center;
  color: aliceblue;

}
.logoutIcon{
  margin-right: 5px;
}
.logout:hover{
  cursor: pointer;
}
.link{
text-decoration: none;
}

@media(max-width:900px){
  .topbarOuter{
    height: 80px;
  }
  .topbarInner{
    padding: 2px 4px;
    height: 45px;
    
  }
  h3.NewsTitle{
    height: 100%;
    display: flex;
    align-self: center;
  }
  .search{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    
  }
  .searchInput{
    font-size: 0.8rem;
    padding: 0;
  }
  .topbar-filters{
    position: relative;
  }
}
@media(max-width:550px) {
  
  .topbarInner{
    padding: 0;
    
  }
 
  .categories{
    gap: 0.5em;
    font-size: 0.8em;
  }
  
  h3.NewsTitle{
    width: 20px;
    font-size: 15px;
    padding: 2px;
    margin: 0;
    width: 50px;
    
    
  }
  .topbarInner{
    /* padding: 2px 4px; */
    padding: 0;
    
  }
  .logout span{
    display: none;
  }
  .topbar-filters{
    display: flex;
    flex-direction: column;
    
  }
  .searchInput{
    font-size: 0.7rem;
  }
  .categories span{
    background-color: transparent!important;
    cursor: pointer;

  }
}

@media screen and (max-width:350px){
  h3.NewsTitle{
    width: 15px;
    font-size: 10px;
    
  }
  .topbarInner{
    padding: 1px 2px;
  }
  .categories{
    font-size: 0.65rem;
  }
  .topbar-filters{
    left: 0.7rem;
    
  }
  .logout{
    padding: 5px;
  
  }
}

